{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">📚 Library Management System</a>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/books">Books</a>
            <a class="nav-link" href="/issue">Issue Book</a>
            <a class="nav-link" href="/login">Login</a>
        </div>
    </div>
</nav>

<div class="container text-center mt-5">
    <h1>Welcome to</h1>
    <h1 class="display-3 fw-bold">Library Management System</h1>
    <p class="lead">Manage your books easily.</p>

    <a href="/books" class="btn btn-primary btn-lg">View Books</a>
    <a href="/issue" class="btn btn-success btn-lg">Issue Book</a>
    <a href="/login" class="btn btn-warning btn-lg">Login</a>
</div>

{% endblock %}